/*---------------
    BACKGROUNDS
---------------*/

.ms-bg-blue{
    background-color: #2c3e50;
}

.ms-bg-green{
    background-color: #1abc9c;
}

.ms-bg-lightblue{
    background-color: #3a546d;
}

.ms-bg-white{
    background-color: #fff;
}

/*---------------
    TEXT COLORS
---------------*/

.ms-text-color-green{
    color: #1abc9c;
    text-decoration: none;
}

.ms-text-color-blue{
    color: #2c3e50;
}

.ms-socials-size{
    font-size: 18px;
}

/*---------------
    BUTTONS
---------------*/

.ms-btn-send{
    background-color: #1abc9c;
}

.ms-btn-round{
    border-radius: 50%;
}

/*---------------
    IMAGES
---------------*/

img{
    max-width: 100%;
    border-radius: 20px;
}

/* .ms-portfolio-img{
    max-width: 70%;
} */

.ms-avatar-img{
    max-width: 30%;
}

/*---------------
    STAR
---------------*/

.ms-line{
    height: 4px;
    width: 200px;
    border-radius: 20px;
}

/*---------------
    FORM
---------------*/

.ms-border-style{
    border: none;
    border-bottom: 1px #cccccc solid;
    border-radius: 0;
}

/*---------------
    HOVER
---------------*/

.ms-portfolio-img img{
    display: block;
}

.ms-portfolio-img-hover{
    display: flex;
    position: absolute;
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.5);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;

}

.ms-portfolio-img-hover:hover{
    opacity: 1;
}

.navbar-nav .nav-link:hover{
    color: #1abc9c;
}


