/*---------------
    BACKGROUNDS
---------------*/

.ms-bg-blue{
    background-color: #2c3e50;
}

.ms-bg-green{
    background-color: #1abc9c;
}

.ms-bg-lightblue{
    background-color: #3a546d;
}

/*---------------
    TEXT COLORS
---------------*/

.ms-text-color-green{
    color: #1abc9c;
    text-decoration: none;
}

.ms-socials-size{
    font-size: 18px;
}

/*---------------
    BUTTONS
---------------*/

.ms-btn-send{
    background-color: #1abc9c;
}

.ms-btn-round{
    border-radius: 50%;
}

/*---------------
    IMAGES
---------------*/

img{
    max-width: 100%;
    border-radius: 20px;
}

/* .ms-portfolio-img{
    max-width: 70%;
} */

.ms-avatar-img{
    max-width: 30%;
}